* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-form {
    margin-top: 100px;
}

.card {
    width: 80%;
    margin-top: -60px;
}

@media (min-width: 768px) {
    .container {
        max-width: 500px;
    }
}