* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dropdown-menu {
    width: 950px;
}

.calendar-container button {
    width: 40px;
    height: 40px;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48
}